openapi: 3.0.0
info:
  title: FaceSmash
  description: |
    FaceSmash is a passwordless authentication platform that uses browser-native 
    facial recognition. Users sign in to websites by looking at their camera instead 
    of typing passwords. Works on any device and any browser.
    
    - Website: https://facesmash.app
    - GitHub: https://github.com/ever-just/facesmash.app
    - Company: EVERJUST COMPANY
  version: "1.3.0"
  contact:
    name: EVERJUST COMPANY
    email: privacy@facesmash.app
    url: https://facesmash.app
servers:
  - url: https://facesmash.app
    description: Production website
  - url: https://api.facesmash.app
    description: PocketBase API
paths:
  /:
    get:
      summary: FaceSmash homepage
      description: Landing page with product information, feature comparison, and sign-up flow
      operationId: getHomepage
      responses:
        "200":
          description: HTML landing page
  /login:
    get:
      summary: Face login page
      description: Sign in using facial recognition — camera activates, face detected, authenticated in under 2 seconds
      operationId: getLogin
      responses:
        "200":
          description: HTML login page with face scanning interface
  /register:
    get:
      summary: Face registration page
      description: Register a new account by providing a display name and scanning your face
      operationId: getRegister
      responses:
        "200":
          description: HTML registration page with face capture
  /privacy:
    get:
      summary: Privacy Policy
      description: BIPA, GDPR, and CCPA/CPRA compliant privacy policy covering biometric data handling
      operationId: getPrivacy
      responses:
        "200":
          description: HTML privacy policy page
  /terms:
    get:
      summary: Terms of Service
      description: Legal terms governing the use of FaceSmash authentication service
      operationId: getTerms
      responses:
        "200":
          description: HTML terms of service page
